.about {
    background-color: white;
    color: black;
    /* padding: 20px; */
}

.card-about {
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image {
    padding: 20px;
}

.card-title {
    color: black;
}

.card-text-about {
    color: black;
    text-align: justify;
    padding: 20px;
}

.card-text-about1 {
    color: black;
    text-align: justify;
    padding: 20px;
    padding-bottom: 70px;
}

.title-objetivos {
    position: relative;
    display: inline-block;
    padding-bottom: 8px;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
    margin-top: 3rem;
}

.objective-card {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

.objective-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}