.contact {
    background-color: black;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.title {
    padding-bottom: 20px;
    color: #FFFFFF;
}

.card-contact {
    padding: 15px;
    margin: 0 10px;
    background-color: black !important;
    color: #FFFFFF;
    border: none;
}

.title {
    color: #FFFFFF;
}

.card-text {
    color: #FFFFFF;
}

.imageContact {
    max-width: 120px;
    max-height: 120px;
    object-fit: contain;
    margin: 0 auto;
}