.contact {
    background-color: black;
    /* Fondo negro para toda la sección de contacto */
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.title {
    padding-bottom: 20px;
    color: #FFFFFF;
    /* Título en blanco */
}

.card-contact {
    padding: 15px;
    margin: 0 10px;
    background-color: black !important;
    /* Asegúrate que el fondo sea negro */
    color: #FFFFFF;
    /* Texto en blanco */
    border: none;
    /* Elimina el borde de la tarjeta si lo hay */
}

.title {
    color: #FFFFFF;
    /* Título de la tarjeta en blanco */
}

.card-text {
    color: #FFFFFF;
    /* Texto de la tarjeta en blanco */
}