.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem!important;
    margin: 1rem;
    background-color: white !important;
    color: #0082c9;
    font-family: Montserrat, sans-serif;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 10;
}

.navbar-left {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.logo {
    /* width: 120px; */
    height: auto;
    margin-right: 10px;
}

.navbar-right {
    display: flex;
    padding-right: 0;
}

.navbar-right ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-right ul li {
    margin-right: 20px;
}

.navbar-right ul li a {
    color: #0082c9;
    text-decoration: none;
}

.navbar-right ul li a:hover {
    text-decoration: underline;
}

.menu-icon {
    display: none;
    cursor: pointer;
    padding-right: 10px;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #0082c9;
    margin: 4px 0;
}

.close-btn {
    color: #0082c9;
    font-size: 20px;
    cursor: pointer;
    padding-right: 10px;
}

.change {
    background-color: transparent;
}

@media screen and (max-width: 768px) {
    .navbar-right ul {
        display: none;
        /* Oculta la lista de elementos */
    }

    .menu-icon {
        display: block;
    }

    .navbar-right.show ul {
        display: flex;
        /* Muestra la lista de elementos en columna */
        flex-direction: column;
        align-items: flex-end;
        /* Alinea los elementos a la derecha */
    }

    .navbar-right.show {
        position: absolute;
        top: 60px;
        /* Altura de la barra de navegación */
        right: 0;
        background-color: #FFFFFF !important;
        padding: 10px;
        border-radius: 5px;
        z-index: 11;
    }
}